html,
body {
    width: 100%;
    height:100%;
    //overflow: hidden;
}
.nav{
    position: relative;
}
#map {
    position: absolute;
    width: 100%;
    height:100%;
}

.wrip {
    width: 100%;
    height: 100%;
}

.showList{
    position:absolute;
    z-index: 1000;
    width: 30%;
    height: 100%;
    overflow:scroll; 
    form{
        width: 100%;
        padding-bottom: 100px;}

    .content{
            margin:40px 0px 0px 30px;
            padding:6px;
            width:90%;     
}

}